/* css file for index.html from Lab 2 */
html {
    font-size: 16px
}

/* font from 3rd party */
h2 {
    color: orange;
    font-size: 1.8rem;
    font-family: 'Antonio', sans-serif;
}

/* Selector List */
h3, .elist {
    color: #ee4502;
    font-family:Arial, Helvetica, sans-serif;
}

/* element selector */
p {
    color: hsl(0, 6%, 1%)
}

/* id selector */
#list1 {
    color: green;
}

/* class selector */
.entryp {
    color: black;
}

/* universal selector */
* {
    background-color: rgb(252, 241, 210);
}

/* attribute selector */
a[href^="#"] {
    font-size: 1.3em;
}

/* Pseudo-class Selector */
h2:hover {
    color: yellow;
}

/* Descendant Combinator */
section li {
    list-style-type: circle;
}

/* Child Combinator */
form > label {
    color: green;
}

/* General Sibling Combinator */
h2 ~ h3 {
    font-size: 5mm;
    text-align: center;
}

/* Adjacent Sibling Combinator */
li + li + li + li {
    font-size: 0.6cm
}

/* Combining Two Selectors */
p.entryp {
    font-size: 1.5 lh;
}

#block1 {
    margin-top: 40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 4em;
    padding: 30px 40px 20px 30px
}

#block2 {
    margin: 40px 30px 40px 4em;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 30px;
}

#block3 {
    margin: auto;
    border-style: solid;
    border-color: black;
    border-width: 10px;
    border-radius: 15px;
    position: relative;
    left: 60px;
}

#sleep {
    text-decoration: underline;
    display: block;
}

#work {
    display: none;
}

@media screen and (max-width: 700px) {
    #image {
        height: 300px;
        width: 500px;
        max-width: 700px;
        max-height: 500px;
        position: static;
    }
}

#button:active {
    color: red;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    flex-basis: auto;
}

.containergrid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 10px;
    align-content: start;
}

